body {
    background-color: lightblue;
  
    padding: 1%;
    text-align: center;

  }
  
  h1 {
    color: rgb(64, 24, 240);
    text-align: center;

  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  